#form{
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
    width: 30%;
}

form{
    text-align: center;
    background-color: pink;
    padding: 10px;
}

legend{
    font-size: 30px;
    color: white;
}

input{
    display: block;
    margin: 0 auto;
}